* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body {
    padding: 24px;
    margin: 0px;

    width: 100vw;
    height: 100vh;
}

/* General */
#today,
#current,
#details,
.next-day,
.next-hour {
    border-radius: 16px;
}

#header,
#today,
.next-day,
.next-hour {
    box-shadow: 2px 2px 0.4px rgb(210, 247, 255, 0.2);
}

.next-day,
.next-hour {
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(104, 121, 208, 0.2);
}

.spacer {
    flex: 1 1 auto;
}

.icon-target.snow {
    background-image: url("../assets/snow.svg");
}

.icon-target.rain {
    background-image: url("../assets/rain.svg");
}

.icon-target.fog {
    background-image: url("../assets/fog.svg");
}

.icon-target.wind {
    background-image: url("../assets/wind.svg");
}

.icon-target.cloudy {
    background-image: url("../assets/cloudy.svg");
}

.icon-target.partly-cloudy-day {
    background-image: url("../assets/partly-cloudy-day.svg");
}

.icon-target.partly-cloudy-night {
    background-image: url("../assets/partly-cloudy-night.svg");
}

.icon-target.clear-day {
    background-image: url("../assets/clear-day.svg");
}
.icon-target.clear-night {
    background-image: url("../assets/clear-night.svg");
}

/* Main */
#page {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: lightskyblue;
}

#header {
    padding: 0 12px;
    border-radius: 12px;

    display: flex;
    align-items: center;

    h2 {
        display: inline;

        margin: 0;
        font-size: 1.8rem;
    }
}

#comment {
    align-self: flex-end;
    padding: 4px 8px;

    color: dimgray;
}

#options {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 8px;

    button {
        width: 24px;
        border: 0px;

        background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#toggle-hour {
    background-image: url("../assets/hours-24.svg");
}

#toggle-hour.toggled {
    background-image: url("../assets/hours-12.svg");
}

#toggle-temp {
    background-image: url("../assets/temperature-fahrenheit.svg");
}

#toggle-temp.toggled {
    background-image: url("../assets/temperature-celsius.svg");
}

#search > input {
    width: 12rem;
    padding: 0px 1.1rem;
    border-radius: 12px;
    border: 0px;

    font-size: 1.1rem;
}

#weather {
    flex: 1 auto;

    display: flex;
    gap: 8px;
}

#today {
    padding-top: 8px;

    flex: 5 0.2 auto;

    display: flex;
    flex-direction: column;
}

#details {
    flex: 1 auto;
}

#date {
    padding-left: 12px;

    font-size: 1rem;
    font-weight: bold;
}

#time {
    padding-left: 12px;

    font-size: 2rem;
}

#details {
    padding: 12px;

    display: flex;
    align-items: flex-end;
    gap: 8px;

    background-image: linear-gradient(
        transparent,
        transparent,
        rgba(104, 121, 208, 0.2)
    );
}

#weather-icon {
    height: 144px;
    aspect-ratio: 1 / 1;

    background-size: cover;
}

#temperature {
    display: flex;
}

#temp-container {
    align-self: center;

    display: flex;
    flex-direction: column;
}

#temp-real {
    font-size: 5rem;
    line-height: 4.2rem;
}

#temp-unit {
    font-size: 3.6rem;
    line-height: 3.2rem;
}

#current {
    flex: 5 0.2 auto;
}

#condition {
    font-size: 2rem;
}

.next-hour {
    flex: 1 1 min(10%, 96px);
    height: 30%;
}

.next-day {
    flex: 1 1 min(10%, 96px);
}

.next-dayname,
.next-date {
    font-weight: bold;
}

.icon-container {
    flex: 1 auto;
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
}

.next-icon {
    flex: 1 auto;

    aspect-ratio: 1 / 1;
    margin: 4px;

    background-size: cover;
}

.next-temp {
    flex-basis: 17%;
    font-size: 2.4rem;
}

.next-hour > .next-temp {
    font-size: 1.5rem;
}
